[OSEv3:children]
masters
nodes
etcd

[OSEv3:vars]
ansible_ssh_user=cloud-user
ansible_become=yes

openshift_deployment_type=openshift-enterprise
openshift_release=v3.7

openshift_install_examples=false

openshift_master_identity_providers=[{'name': 'allow_all', 'login': 'true', 'challenge': 'true', 'kind': 'AllowAllPasswordIdentityProvider'}]

openshift_cloudprovider_kind=openstack
openshift_cloudprovider_openstack_auth_url={{ osp.auth.auth_url }}
openshift_cloudprovider_openstack_username={{ osp.auth.username }}
openshift_cloudprovider_openstack_password={{ osp.auth.password }}
openshift_cloudprovider_openstack_domain_name={{ osp.auth.user_domain_name }}
openshift_cloudprovider_openstack_tenant_name=lab
openshift_cloudprovider_openstack_blockstorage_version=v2

openshift_metrics_install_metrics=true
openshift_metrics_cassandra_storage_type=dynamic

openshift_logging_install_logging=true
openshift_logging_storage_kind=dynamic

openshift_master_api_port=8443
openshift_master_console_port=8443

openshift_override_hostname_check=true

openshift_disable_check=disk_availability,memory_availability

openshift_router_selector="region=infra"
openshift_registry_selector="region=infra"

openshift_master_cluster_hostname={{ ocp.hostname }}
openshift_master_cluster_public_hostname={{ ocp.public }}
openshift_master_default_subdomain={{ ocp.subdomain }}

openshift_template_service_broker_namespaces=['openshift']

[masters]
{% for node in ocp.nodes %}
{% if node.master %}
{{ node.hostname }} openshift_hostname={{ node.hostname }}
{% endif %}
{% endfor %}

[etcd]
{% for node in ocp.nodes %}
{% if node.etcd %}
{{ node.hostname }} openshift_hostname={{ node.hostname }}
{% endif %}
{% endfor %}

[nodes]
{% for node in ocp.nodes %}
{{ node.hostname }} openshift_hostname={{ node.hostname }} {% if node.bastion %}ansible_connection=local{% endif %} {% if node.schedulable %}openshift_schedulable=true{% endif %} openshift_node_labels="{ {% if node.infra %}'region': 'infra',{% endif %} 'zone': 'default' }"
{% endfor %}
