[Global]
auth-url = {{ osp.auth.auth_url }}
username = {{ osp.auth.username }}
password = {{ osp.auth.password }}
domain-name = {{ osp.auth.user_domain_name }}
tenant-name = lab

[BlockStorage]
bs-version = v2
