[OSEv3:children]
masters
nodes
etcd

[OSEv3:vars]
ansible_ssh_user=cloud-user
ansible_become=yes

openshift_deployment_type=openshift-enterprise
openshift_release=v3.7

openshift_install_examples=true

openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]
openshift_master_htpasswd_users={'admin':'$apr1$3i32xFOF$Q79ZUkQ9wZRzjaxIvOr6y/', 'developer':'$apr1$6E/l5B6S$C/GlxG6XFVwPpxN/tANJK1'}

openshift_cloudprovider_kind=openstack
openshift_cloudprovider_openstack_auth_url={{ osp.auth.auth_url }}
openshift_cloudprovider_openstack_username={{ osp.auth.username }}
openshift_cloudprovider_openstack_password={{ osp.auth.password }}
openshift_cloudprovider_openstack_domain_name={{ osp.auth.domain_name }}
openshift_cloudprovider_openstack_tenant_name=lab

osm_use_cockpit=true
osm_cockpit_plugins=['cockpit-kubernetes']

openshift_hosted_registry_replicas=1

openshift_hosted_metrics_deploy=true
openshift_hosted_metrics_storage_kind=dynamic

openshift_hosted_logging_deploy=true
openshift_hosted_logging_storage_kind=dynamic

openshift_master_api_port=443
openshift_master_console_port=443

openshift_override_hostname_check=true

openshift_disable_check=disk_availability,docker_storage,memory_availability,docker_image_availability

openshift_master_cluster_hostname={{ ocp.nodes.master }}
openshift_master_cluster_public_hostname={{ ocp.public }}
openshift_master_default_subdomain={{ ocp.subdomain }}

openshift_template_service_broker_namespaces=['openshift']

[masters]
{{ ocp.nodes.master }}

[etcd]
{{ ocp.nodes.master }}

[nodes]
{{ ocp.nodes.master }}
{{ ocp.nodes.app }} openshift_node_labels="{'region': 'app', 'zone': 'default'}"
{{ ocp.nodes.infra }} openshift_node_labels="{'region': 'infra', 'zone': 'default'}"
